.adminTranslist {
  background-color: #008080;
  height: 100%;
  min-height: 100vh;

  color: #d0efb1;
  padding: 1rem;
}

.profit-container {
  h5 {
    background-color: white;
    color: black;
    padding: 0.5rem;
    border-radius: 4px;
    min-width: 87px;
  }
}