@import '../../index.scss';
.adminTranslist {
  color: $fontColorSecondary;
  padding: 1rem;
}

.profit-container {
  h5 {
    background-color: white;
    color: black;
    padding: 0.5rem;
    border-radius: 4px;
    min-width: 87px;
  }
}
