.betlistcontainer {
  color: white;
  padding: 1rem;

  :where(.css-dev-only-do-not-override-1mqg3i0).ant-input-disabled,
  :where(.css-dev-only-do-not-override-1mqg3i0).ant-input[disabled] {
    color: black;
    background-color: white;
    border-color: #d9d9d9;
    box-shadow: none;
    cursor: not-allowed;
    opacity: 1;
  }
  .profit-container {
    h5 {
      background-color: white;
      color: black;
      padding: 0.5rem;
      border-radius: 4px;
      min-width: 87px;
    }
  }
}
