@import '../../index.scss';

.create-win-num {
  padding: 1rem;
  .ant-form-item-required::before {
    display: none !important;
  }
  .ant-form-item-explain-error {
    color: $fontColorSecondary;
  }
  h1 {
    text-shadow: 1px 1px 2px #000000;
  }
  .createwinNumForm {
    width: 15rem;
    margin: auto;

    label {
      color: $fontColorSecondary;
      font-weight: 500;
      font-size: 1rem;
    }
  }
}
