@import '../../index.scss';

:where(.css-dev-only-do-not-override-1mqg3i0).ant-card .ant-card-head-title {
  color: $fontColorSecondary;
}
:where(.css-dev-only-do-not-override-1mqg3i0).ant-drawer .ant-drawer-content {
  width: 100%;
  height: 100%;
  overflow: auto;
  background: #50a3a2;
  background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  background: -moz-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  background: -o-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);

  height: 100vh;
  pointer-events: auto;
  a {
    text-decoration: none;
  }
}
:where(.css-dev-only-do-not-override-1mqg3i0)[class^='ant-layout']
  [class^='ant-layout'],
:where(.css-dev-only-do-not-override-1mqg3i0)[class*=' ant-layout']
  [class^='ant-layout'],
:where(.css-dev-only-do-not-override-1mqg3i0)[class^='ant-layout']
  [class*=' ant-layout'],
:where(.css-dev-only-do-not-override-1mqg3i0)[class*=' ant-layout']
  [class*=' ant-layout'] {
  box-sizing: border-box;
  margin: 0 !important;
}
:where(.css-dev-only-do-not-override-1mqg3i0).ant-layout {
  display: grid;
  grid-template-rows: auto 1fr;
  height:100vh;
  // flex: auto;
  // flex-direction: column;
  // min-height: 100vh;
  // height: 100%;
  // background: $backgroundColor;
}
:where(.css-dev-only-do-not-override-1mqg3i0).ant-drawer .ant-drawer-body {
  flex: 1;
  min-width: 0;
  min-height: 0;
  padding: 0;
  overflow: auto;
}

.drawer-custom {
  background: #59908f;
  // background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  // background: -moz-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  // background: -o-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  // background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);

  border-inline-end: 0px solid rgba(5, 5, 5, 0.06);
  width: 100px;
}
.ant-menu.ant-menu-root {
  background-color: transparent;
  border-inline-end: 0px solid rgba(5, 5, 5, 0.06) !important;
  color: white;

  font-size: 18px;
  text-decoration: none;

  @media (max-width: 425.98px) {
    font-size: $mediaquerySmallestFontSize;
  }
}
//when selected
.ant-menu-item-selected {
  color: #534c5e !important;
  transition: none !important;
}
.ant-drawer-content-wrapper {
  background-color: #d0efb1;

  @media (max-width: 425.98px) {
    width: 250px !important;
  }
}

.dashboard {
  display: grid;
  grid-template-rows: auto 1fr; /* First row takes auto height, second row takes the remaining space */
  height: 100vh; 
  .header-layout {
    background: #50a3a2;
    background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
    background: -moz-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
    background: -o-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
    background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
    padding: 0;
  }

  //////////////////////////////////
  .dashboard__header {
    height: 100%;
    position: relative;
    .logo {
      max-width: 15rem;
      margin: auto;
    }
    .title {
      transform: translateY(-50%);
      position: relative;
      color: white !important;
      font-size: 4rem;
      text-align: center;
      text-shadow: 1px 1px 2px #000000;
    }
  }

  .dashboard__totaloverview {
    margin-bottom: 1rem;
    p,
    h4 {
      color: $fontColorPrimary;
      margin-bottom: 0;
    }
    .card {
      min-height: 150px;
    }
  }
}

@media (max-width: 425.98px) {
  .dashboard {
    .dashboard {
      &__header {
        h6 {
          font-size: 2.5rem !important;
        }
        .logo {
          max-width: 10rem;
        }
      }

      &__totaloverview {
        h4 {
          font-size: 16px !important;
        }
        .card {
          min-height: 100px;

          .card-body {
            padding: 0.2rem !important;
          }
        }
      }
    }
  }
}
