@import '../../index.scss';

.dashboard {
  .dashboard-header {
    position: relative;
    .logo {
      max-width: 15rem;
      margin: auto;
    }
    .title {
      transform: translateY(-50%);
      position: relative;
      color: white;
      font-size: 4rem;
      text-align: center;
      text-shadow: 1px 1px 2px #000000;
    }
  }
  .dashboard-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;

    h3 {
      color: #f1e8e8;
    }
    .card {
      justify-content: center;
      margin: 1rem;
      min-width: 150px;
      text-align: center;
      background-color: #534c5e;
      color: #d0efb1;
      p {
        font-size: 1rem;
        margin-bottom: 0;
      }
      .card-body {
        padding: 1.5rem -0 0 0;
      }
    }
  }
  .dashboard-total-overview {
    margin-bottom: 1rem;
    p,
    h4 {
      color: $fontColorPrimary;
      margin-bottom: 0;
    }
    .card {
      min-height: 150px;
    }
  }
}

@media (max-width: 425.98px) {
  .dashboard {
    .dashboard-header {
      h6 {
        font-size: 2.5rem !important;
      }
      .logo {
        max-width: 10rem;
      }
    }
    .dashboard-content {
      justify-content: center;
      align-items: flex-start;
      .card {
        margin: 0.5rem !important;
      }
    }

    .dashboard-total-overview {
      h4 {
        font-size: 16px !important;
      }
      .card {
        min-height: 100px;

        .card-body {
          padding: 0.2rem !important;
        }
      }
    }
  }
}
@media (max-width: 375.98px) {
  .container-panel {
    padding: 0.5rem 1rem !important;
  }
  .dashboard {
    .dashboard-content {
      justify-content: flex-start;
      .card {
        height: 120px;
        width: calc(50% - 1rem);
        margin: 0.5rem;
        box-sizing: border-box;
        min-width: 10px;
      }
    }
  }
}
