.ant-table-container {
  position: relative;
  z-index: 0;

  max-height: 500px;
  max-width: 1280px;
  margin: auto;
  .ant-table-tbody {
    background: white;
  }
}
.pagination {
  display: flex;
  justify-content: center;
}

@media (max-width: 425.98px) {
  .pagination {
    justify-content: center !important;
  }
}
