.table-container {
  margin-top: 1rem;
  width: 100%;
  padding: 1rem;
  max-height: 400px !important;
  border: 5px solid #6a5d7b;
  th {
    color: #d0efb1 !important;
    background-color: #6a5d7b !important;
    border-bottom: none !important;
    font-size: 22px !important;
    font-weight: 300 !important;
    text-align: center;
  }
  td {
    background-color: white !important;
    color: #6a5d7b;
  }
  tr {
    border-bottom: none !important;
    border: 0 solid blue;
  }
  .ant-btn {
    color: #d0efb1;
    background-color: #6a5d7b !important;
  }
  .ant-btn:hover {
    color: #d0efb1;
    background-color: #7c6d92 !important;
  }
}
.pagination {
  justify-content: center;
  :where(.css-dev-only-do-not-override-1mqg3i0).ant-btn-default:disabled {
    cursor: not-allowed;
    border-color: blue !important;
    color: rgba(0, 0, 0, 0.25);
    background-color: blue !important;
    box-shadow: none;
  }
  .buton-custom:hover {
    cursor: pointer;
    background-color: #726485 !important;
  }
  .buton-custom:disabled {
    cursor: not-allowed;
    color: #726485;
    background-color: #d9d9d9 !important;
  }
}

// .table-wrap {
//   overflow: scroll;
// }

@media (max-width: 575.98px) {
  .table-container {
    th {
      font-size: 16px !important;
      font-weight: 300 !important;
    }
  }
  .pagination {
    justify-content: flex-start;

    flex-wrap: wrap;
    font-size: 16px;
  }
  :where(.css-dev-only-do-not-override-1mqg3i0).ant-modal .ant-modal-content {
    position: relative;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 0;
    border-radius: 8px;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08),
      0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    pointer-events: auto;
    padding: 5px 5px;
  }
}
