.recharts-wrapper {
  width: 50px !important;
  height: 700px;
}
.recharts-responsive-container {
  min-height: 500px;
  min-width: 700px;
}

.recharts-wrapper {
  width: 100%; /* Adjust the width as needed */
}

/* Example media query for smaller screens */
@media (max-width: 768px) {
  .chart-container {
    width: 100%; /* Adjust the width for smaller screens */
  }
}
