.header-backbutton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  max-width: 1280px;
  margin: auto;
}

.title-container {
  flex-grow: 1;
  text-align: center;
}

.title {
  display: inline-block;
  color: white !important;

  text-align: center;
  text-shadow: 1px 1px 2px #000000;
}
