@import '../../index.scss';

.container-panel {
  background: #59908f;
  background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  background: -moz-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  background: -o-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);

  .glassboard-container {
    position: relative;
    top: 5%;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    border: 0.18rem solid #368b68;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 10px;
    max-width: 60rem;
    margin: auto;
    text-align: center;
  }

  @media (max-width: 768.98px) {
    padding: 1rem;
  }
}
