@import '../../index.scss';

.container-panel {
  background: $backgroundColor;
  background: $backgroundColor2;
  background: $backgroundColor3;
  background: $backgroundColor4;
  background: $backgroundColor5;

  height: 100vh;
  h3 {
    color: #f1e8e8;
  }
  .glassboard-container {
    height: 90vh;
    max-width: 60rem;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    border: 0.18rem solid #368b68;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    border-radius: 10px;
    color: #fff;
    text-align: center;
    transition: all 0.3s ease;

    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;

    .glassboard-center {
      position: relative;
      top: 1rem;
      // position: relative;
      // top: 50%;
      // transform: translateY(-50%);
    }
  }
  .dashboard-info {
    position: relative;

    background-color: red;
  }
}
@media (max-width: 768.98px) {
  .container-panel {
    padding: 0 1rem;
  }
}
@media (max-width: 320.98px) {
  .container-panel {
    overflow-y: scroll;
  }
}
